MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/chemiadvokati?retryWrites=true&w=majority"
MONGODB_DB="chemiadvokati"

AUTH_SECRET="run: openssl rand -base64 32"
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
